html,
body,
div,
form,
fieldset,
legend,
caption,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre {
    font-size: 100%;
    font-weight: normal;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
    background: transparent;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    vertical-align: top;
}

img {
    border: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem 0;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    column-gap: 4rem;
    position: relative;
}

header nav ul li.icon {
    display: none;
    width: 32px;
}

header nav ul li.icon img {
    width: 100%;
}

header nav ul li a {
    color: #000;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #f5c332;
}

header nav ul li a.active {
    color: #f5c332;
}

header nav ul li a.active:hover {
    color: #000;
}

header nav ul li a.active::before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    background: #f5c332;
    border-radius: 50%;
    top: 6px;
    left: -20px;
}

header .card-image {
    width: 48px;
    height: 48px;
    background-color: #f2f3f5;
    padding: 10px;
    padding-top: 9px;
    border-radius: 50%;
    position: relative;
}

header .card-image::after {
    content: "0";
    display: block;
    width: 16px;
    height: 16px;
    background: #f5c332;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.64rem;
    text-align: center;
    line-height: 16px;
    font-weight: 700;
}

header .card-image img {
    width: 100%;
}

header .card-image img:hover {
    opacity: 0.8;
}

.hero {
    color: #231e41;
}

.hero .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.hero p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
    line-height: 2rem;
    color: #6f6f87;
}

.hero .btn {
    padding: 1rem 2rem;
    font-weight: 700;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: #000;
}

.hero .btn.active {
    background: #f5c332;
    color: #000;
}

.hero .btn:hover {
    background: #000;
    color: #f5c332;
}

.hero .btn:hover::after {
    transform: translateX(0);
}

.hero-image {
    width: 100%;
    max-width: 600px;
}

.hero-image img {
    width: 100%;
    border-radius: 50%;
}

footer {
    background: #f2f3f5;
    padding: 20px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
    column-gap: 4rem;
}

.footer-details {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    width: 100%;
    max-width: 200px;
}

.footer-logo img {
    width: 100%;
}

.footer-details h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.footer-details p a {
    color: #000;
    text-decoration: none;
}

.footer-details p {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
}

.footer-social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: .5rem;
    margin-top: 1rem;
}

.contact {
    padding: 20px 0;
    width: 100%;

}

.contact form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.contact form input,
.contact form textarea {
    padding: 1rem;
    border: 1px solid #e4e4e4;
    border-radius: 0.25rem;
}

.contact form textarea {
    resize: vertical;
    font-family: inherit;
    font-size: inherit;
}

.contact form button {
    padding: 1rem;
    border: 0;
    border-radius: 0.25rem;
    font-weight: 700;
    background: #f5c332;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contact form button:hover {
    background: #000;
    color: #f5c332;
}

.values .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 6rem;
}

.value-thumbnail {
    overflow: hidden;
    width: 100%;
}

.value-thumbnail img {
    width: 150%;
}

.values {
    padding-top: 30px;
    padding-bottom: 100px;
}

.value-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.value-text h2 {
    line-height: 110%;
    font-size: 40px;
    letter-spacing: -2px;
    margin-bottom: 30px;
    color: #231E41;
    font-family: sans-serif;
    font-weight: bold;
    max-width: 400px;
}

.value-text-h3 {
    line-height: 120%;
    font-size: 22px;
    letter-spacing: -1px;
    padding-bottom: 10px;
    font-weight: bold;

}

.value-text-p {
    color: #6f6f87;
    margin: 0;
    font-size: 15px;
}

.value-text ul {

    list-style: none;
    margin: 0px;
    padding: 0px;
}

.ul-numbering {
    min-width: 62px;
    margin-right: 30px;
    font-family: 'Monoton', cursive;
    color: #f5c332;
    font-size: 42px;
    line-height: 36px;
    white-space: nowrap;
}

.li-content {
    display: flex;
    padding-top: 30px;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }

    header .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        text-align: center;
    }

    header .card-image {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1.25rem;
    }

    .value-thumbnail img {
        width: 200%;
    }

}

@media screen and (max-width: 768px) {

    header .container {
        flex-direction: column;
        align-items: flex-start;
    }

    header h1 {
        margin-bottom: 2rem;
        margin: 0 auto;
    }

    header nav {
        width: 90%;
        margin: 0 auto;
    }

    header nav ul {
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
        column-gap: 0;
        row-gap: 1rem;
    }

    header nav ul li:not(:first-child) {
        display: none;
    }

    header nav ul.responsive-menu li {
        display: block;
    }

    header nav ul li.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 18px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    header nav ul li a {
        font-size: 1.4rem;
    }

    header nav ul li a.active::before {
        background-color: transparent;
    }

    header .card-image {
        position: absolute;
        top: 100px;
        left: 18px;
    }

    .hero .container {
        flex-direction: column;
        align-items: center;
    }

    .hero-text {
        padding: 1rem 2rem;
        text-align: center;
        max-width: 600px;
    }

    .hero h1 {
        font-size: 2.5rem;
        line-height: 1.2;
    }

    .hero p {
        font-size: 1.15rem;
        max-width: 400px;
        margin: auto;
    }

    .hero .btn {
        display: inline-block;
        margin: 2rem auto;
    }

    .hero-image {
        max-width: 300px;
        margin-bottom: 2rem;
    }

    footer .container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {

    .hero .hero-text {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-size: 2.4rem;
    }

    .hero p {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .hero .btn {
        margin-bottom: 1rem;
        width: fit-content;
        margin: .5rem auto;
    }

    .value-text {
        padding: 1rem;
    }

    .ul-numbering {
        padding-top: 1rem;
    }

    .footer-details {
        flex-direction: column;
        align-items: center;
    }

    .footer-details h3,
    .footer-details p {
        text-align: center;
    }

    .footer-social-media {
        flex-direction: row;
        justify-content: center;
        column-gap: 2rem;
        flex-wrap: wrap;
    }
}
